        {{message}}
        <div ng-if="showMessage"></div>
        <table class="table table-bordered" ng-if="showTable">
            <thead>
                <tr>
                    <th>Deposit Id</th>
                    <th>Client Name</th>
                    <th>Deposit type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deposite in deposites">
                    <td>{{deposite.DepositeId}}</td>
                    <td>{{deposite.ClientInfo.Name}}</td>
                    <td>{{deposite.DepositeInfo.Name}}</td>
                    <td>{{deposite.Status}}</td>
                    <td><button class="btn btn-sm btn-info btn-block" type="submit" ng-click="openPopUp(deposite)">Переглянути</button></td>
                </tr>
            </tbody>
            <pop-up-msg ></pop-up-msg>
        </table>