        {{message}}
        <div ng-if="showMessage"></div>
        <table class="table table-bordered" ng-if="showTable">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Login</th>
                    <th>Password</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deposite in deposites">
                    <td>{{deposite.Id}}</td>
                    <td>{{deposite.Client.Name}}</td>
                    <td>{{depisite.DepositeInfo.Type}}</td>
                    <td>{{depisite.Status}}</td>
                    <td><button class="btn btn-sm btn-info btn-block" type="submit" ng-click="showDepositeInfo()">Переглянути</button></td>
                </tr>
            </tbody>
        </table>