    <form role="form">
        <h2 class="form-login-heading">Введіть код за ЄДРПОУ або реєстраційний (обліковий) номер платника податків клієнта</h2>
        <input type="text" class="form-control" placeholder="Username" ng-model="identificationCode" required autofocus>
        <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="checkClientType(identificationCode)">Пошук клієнта</button>
        <div class="alert alert-danger" ng-show="messageStatus">
            {{message}}
        </div>
    </form>
    <div class="form" ng-if="showInputForm">
        <form form-horizontal" role="form" ng-submit="submit()">
            <div class="inputDiv">
                <div class="form-group">
                    <div class="row">
                        <label for="inputName" class=" col-md-offset-3 col-md-2 control-label">Найменування клієнта банку</label>
                        <div class=" col-md-7">
                            <input type="text" class="form-control" placeholder="Найменування клієнта банку" name="inputName" ng-model="deposite.user.Name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputRepresentative" class=" col-md-offset-3 col-md-2 control-label">В особі підприємця</label>
                        <div class=" col-md-7">
                            <input type="text" class="form-control" placeholder="Прізвище Ім'я Побатькові" name="inputRepresentative" ng-model="deposite.user.Representative">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputIdentificationCode" class="col-md-offset-3 col-md-2 control-label">код за ЄДРПОУ або реєстраційний (обліковий) номер платника податків клієнта</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" placeholder="Код ІПН" name="inputIdentificationCode" ng-model="deposite.user.IndentificationCode">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputRegistrationPlace" class="col-md-offset-3 col-md-2 control-label">Місце реєстрації</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" placeholder="RegistrationPlace" name="inputRegistrationPlace" ng-model="deposite.user.RegistrationPlace">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label for="inputPhoneNumber" class="col-md-offset-3 col-md-2 control-label">Номер телефону</label>
                        <div class="col-md-7">
                            <input type="tel" class="form-control" placeholder="Номер телефону" name="inputPhoneNumber" pattern="+38(0[0-9]{2})[0-9]{7}" ng-model="deposite.user.PhoneNumber">
                            <span class="note">Format: +38(0**)*******</span>
                        </div>
                    </div>
                </div>
                

                
                <!--
    <div class="form-group">
        <div class="row">
            <label for="inputDepositeType" class="col-md-offset-3 col-md-2">Тип депозиту</label>
            <select class="form-control   col-md-7" id="inputDepositeType">
                <option value="urgent">Строковий</option>
                <option value="onRequest">На вимогу</option>
            </select>
        </div>
    </div>-->


                <div class="form-group">
                    <div class="row">
                        <label for="inputstartDepositeDate" class="col-md-offset-3 col-md-2 control-label">Початок депозитного сроку</label>
                        <div class="col-md-7">
                            <input type="date" class="form-control" placeholder="startDepositeDate" name="inputstartDepositeDate" ng-model="deposite.StartDepositeDate">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputendDepositeDate" class="col-md-offset-3 col-md-2 control-label">Кінець депозитного сроку</label>
                        <div class="col-md-7">
                            <input type="date" class="form-control" placeholder="" name="inputendDepositeDate" ng-model="deposite.EndDepositeDate">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputAmountOfDeposit" class="col-md-offset-3 col-md-2 control-label">Сума вкладу</label>
                        <div class="col-md-7">
                            <input type="number" class="form-control" placeholder="startDepositeDate" name="inputsAmountOfDeposit" ng-model="deposite.AmountOfDeposit">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputCurrency" class="col-md-offset-3 col-md-2 control-label">Валюта</label>
                        <div class="col-md-7">
                            <select name="singleSelect" ng-model="deposite.Currency">
                                <option value="UAN">UAN</option>
                                <option value="USD">USD</option>
                                <option value="EURO">EURO</option>
                            </select><br>
                            {{deposite.Currency}}
                            <!--input type="number" class="form-control" placeholder="startDepositeDate" name="inputsCurrency" ng-model="deposite.Currency">-->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-offset-3  col-md-6">
                            <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="saveData(user)">Зберегти дані клієнта</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
            
