<div id="popUpCreationMessage-bg" ng-if="showCreationMessageInPopup">
    <div id="popUpCreationMessage">
        <div class="close" ng-click="closeCreationMessageInPopup()">x</div>
        <p class="text-center">Почалось створення файлу. <br />Не закривайте браузер!</p>
        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <button class="btn btn-md btn-info btn-block" type="submit" ng-click="closeCreationMessageInPopup()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
