<div id="popUpMsg-bg" ng-show="showCreationOfDeposite">
    <div id="popUpMsg">
        <div class="close" ng-click="closeCreationOfDeposite()">x</div>
        <form role="form" name="identificationForm" novalidate ng-if="showClientSearchForm">
            <h2 class="form-login-heading">Введіть код за ЄДРПОУ або реєстраційний (обліковий) номер платника податків клієнта</h2>
            <div class="col-md-offset-4 col-md-3">
                <input type="text" class="form-control" placeholder="Код Інн або ЄДРПОУ " ng-model="identificationCode" required>
                <button class="btn btn-lg btn-info btn-block" type="submit" ng-disabled="identificationForm.$invalid" ng-click="checkClientType(identificationCode)">Пошук клієнта</button>
                <div class="alert alert-danger" ng-show="messageStatus">
                    {{message}}
                </div>
            </div>
        </form>
        <div class="form" name="depositeForm" ng-if="showInputForm" novalidate>
            <form form-horizontal" role="form">
                <div class="inputDiv">
                    <div class="form-group">
                        <div class="row">
                            <label for="inputName" class=" col-md-offset-3 col-md-2 control-label">Найменування клієнта банку</label>
                            <div class=" col-md-7">
                                <input type="text" class="form-control" placeholder="Найменування клієнта банку" name="inputName" ng-model="deposite.ClientInfo.Name" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputRepresentative" class=" col-md-offset-3 col-md-2 control-label">В особі підприємця</label>
                            <div class=" col-md-7">
                                <input type="text" class="form-control" placeholder="Прізвище Ім'я Побатькові" name="inputRepresentative" ng-model="deposite.ClientInfo.Representative" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputIdentificationCode" class="col-md-offset-3 col-md-2 control-label">код за ЄДРПОУ або реєстраційний (обліковий) номер платника податків клієнта</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Код ІНН або ЄДРПОУ" name="inputIdentificationCode" ng-model="deposite.ClientInfo.IndentificationCode" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputRegistrationPlace" class="col-md-offset-3 col-md-2 control-label">Місце реєстрації</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="RegistrationPlace" name="inputRegistrationPlace" ng-model="deposite.ClientInfo.RegistrationPlace" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputPhoneNumber" class="col-md-offset-3 col-md-2 control-label">Номер телефону</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Номер телефону" name="inputPhoneNumber" ng-model="deposite.ClientInfo.PhoneNumber" required>
                                <!--<span class="note">Format: +38(0**)*******</span>-->
                                <!--pattern="/^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$/"-->
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputBankAccount" class="col-md-offset-3 col-md-2 control-label">Номер банківського рахунку</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Номер банківського рахунку" name="inputBankAccount" ng-model="deposite.ClientInfo.BankAccount" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputBankAccountForDP" class="col-md-offset-3 col-md-2 control-label">Номер банківського рахунку для виплати відстотків по депозиту</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" placeholder="Номер банківського рахунку" name="inputBankAccountForDP" ng-model="deposite.ClientInfo.BankAccountForDP" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputDepositeType" class="col-md-offset-3 col-md-2 control-label">Тип депозиту</label>
                            <div class="col-md-7">
                                <select name="inputDepositeType" id="inputDepositeType" class="form-control col-md-7"
                                        ng-options="depositeInfo.Name for depositeInfo in depositeInfoes track by depositeInfo.Id"
                                        ng-model="deposite.DepositeInfo" required></select><br />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputCurrency" class="col-md-offset-3 col-md-2 control-label">Особливості депозиту</label>
                            <div class="col-md-7">

                                <label>
                                    Автопролонгація:
                                    <input type="checkbox" ng-model="deposite.DepositeInfo.AutoRollover" disabled>

                                </label>
                                <label>
                                    Можливість поповнення:
                                    <input type="checkbox" ng-model="deposite.DepositeInfo.PossibilityOfReplenishment" disabled>

                                </label>
                                <label>
                                    Можливість дострокового розірвання:
                                    <input type="checkbox" ng-model="deposite.DepositeInfo.PossibilityOfTermination" disabled>

                                </label>
                                <label>
                                    Відсоткова ставка:
                                    <input type="text" ng-model="deposite.DepositeInfo.Rate" disabled>

                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputstartDepositeDate" class="col-md-offset-3 col-md-2 control-label">Початок депозитного сроку</label>
                            <div class="col-md-7">
                                <input type="date" class="form-control" name="inputstartDepositeDate" ng-model="deposite.StartDepositeDate" placeholder="Дата початку депозитного сроку" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputendDepositeDate" class="col-md-offset-3 col-md-2 control-label">Кінець депозитного сроку</label>
                            <div class="col-md-7">
                                <input type="date" class="form-control" name="inputendDepositeDate" ng-model="deposite.EndDepositeDate" placeholder="Дата закінчення депозитного сроку" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="inputAmountOfDeposit" class="col-md-offset-3 col-md-2 control-label">Сума вкладу</label>
                            <div class="col-md-7">
                                <input type="number" class="form-control" placeholder="Сума вкладу" name="inputsAmountOfDeposit" ng-model="deposite.AmountOfDeposite" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label for="inputCurrency" class="col-md-offset-3 col-md-2 control-label">Валюта</label>
                            <div class="col-md-7">
                                <select name="inputsCurrency" class="form-control col-md-7" ng-model="deposite.Currency" required>
                                    <option value="UAN">UAN</option>
                                    <option value="USD">USD</option>
                                    <option value="EURO">EURO</option>
                                </select><br>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-offset-3  col-md-6">
                                <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="submitDeposite(depositeForm.$valid,deposite)">Зберегти депозит</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <form role="form" name="identificationForm" novalidate ng-if="showPrintForm">
            <h2 class="form-login-heading">Натисність для друку договору</h2>
            <a class="btn btn-sm btn-info btn-block" href="/api/Deposites/GeneratedСlientForm/?id={{deposite.DepositeId}}">Друк анкети клієнта</a>
            <a class="btn btn-sm btn-info btn-block" href="/api/Deposites/GeneratedStatement/?id={{deposite.DepositeId}}">Друк заяви на відкриття депозиту</a>
            <!--<button class="btn btn-lg btn-info btn-block" type="submit" ng-click="">Друк анкети клієнта</button>
            <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="">Друк заяви</button>-->
            <div class="alert alert-danger">
                {{messageStatusCreation}}
            </div>
        </form>
    </div>
</div>
