<div id="popUpMsg-bg" ng-if="showCreationOfDeposite">
    <div id="popUpMsg">
        <div class="close" ng-click="closeCreationOfDeposite()">x</div>
        <form role="form" name="identificationForm" ng-if="showClientSearchForm" novalidate>
            <h4>Введіть код за ЄДРПОУ або реєстраційний (обліковий) номер платника податків клієнта</h4>
            <!--<div class="col-md-offset-4 col-md-3">-->
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="identificationCode" placeholder="Код Інн або ЄДРПОУ " ng-model="identificationCode" ng-model-options="{ updateOn: 'blur' }" ng-minlength=4 required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6" style="color:red" ng-if="identificationForm.identificationCode.$dirty && identificationForm.identificationCode.$invalid">
                    <span ng-if="identificationForm.identificationCode.$error.minlength">Код ідентифікації клієнта повинен містити принаймні 4 симоволи</span>
                </div>

            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6" style="color:red" ng-if="identificationForm.$submitted || identificationForm.identificationCode.$touched">
                    <span ng-if="identificationForm.identificationCode.$error.required">Введення кода ідентифікації клієнта обов'язкове</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <button class="btn btn-md btn-info btn-block" type="submit" ng-click="checkClientType(identificationCode, identificationForm.$valid)">Пошук клієнта</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="alert alert-danger col-sm-6" ng-show="messageStatus">
                    {{message}}
                </div>
            </div>
            <!--</div>-->
        </form>
        <div class="form" ng-if="showInputForm">
            <form form-horizontal" name="depositeForm" role="form" novalidate>
                <div ng-if="cientInBase">
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputName" class=" col-sm-4 col-form-label">Найменування клієнта банку</label>
                            <div class=" col-sm-4">
                                <input type="text" class="form-control" placeholder="Найменування клієнта банку" name="inputName" ng-model="deposite.ClientInfo.Name"  ng-minlength=4>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6" style="color:red" ng-show="depositeForm.inputName.$dirty && depositeForm.inputName.$invalid">
                            <span ng-show="depositeForm.inputName.$error.minlength">Найменування клієнта банку повинно містити принаймні 4 симоволи</span>
                        </div>

                    </div>
                    <div class="row justify-content-around">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputName.$touched">
                            <span ng-if="depositeForm.inputName.$error.required">Введення найменування клієнта банку обов'язкове.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputRepresentative" class=" col-sm-4 col-form-label">В особі підприємця</label>
                            <div class=" col-sm-4">
                                <input type="text" class="form-control" placeholder="Прізвище Ім'я Побатькові" name="inputRepresentative" ng-model="deposite.ClientInfo.Representative"  ng-minlength=10>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputRepresentative.$dirty && depositeForm.inputRepresentative.$invalid">
                                <span ng-if="depositeForm.inputRepresentative.$error.minlength">Найменування клієнта банку повинно містити принаймні 10 симоволів</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputRepresentative.$touched">
                                <span ng-if="depositeForm.inputRepresentative.$error.required">Введення найменування клієнта банку обов'язкове</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputIdentificationCode" class="col-sm-4 col-form-label">код за ЄДРПОУ або реєстраційний (обліковий) номер платника податків клієнта</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Код ІНН або ЄДРПОУ" name="inputIdentificationCode" ng-model="deposite.ClientInfo.IndentificationCode"  ng-minlength=4>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputIdentificationCode.$dirty && depositeForm.inputIdentificationCode.$invalid">
                                <span ng-if="depositeForm.inputIdentificationCode.$error.minlength">Код ідентифікації клієнта повинен містити принаймні 4 симоволи</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputIdentificationCode.$touched">
                                <span ng-if="depositeForm.inputIdentificationCode.$error.required">Введення кода ідентифікації клієнта обов'язкове</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputRegistrationPlace" class="col-sm-4 col-form-label">Місце реєстрації</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="RegistrationPlace" name="inputRegistrationPlace" ng-model="deposite.ClientInfo.RegistrationPlace"  ng-minlength=4>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputRegistrationPlace.$dirty && depositeForm.inputRegistrationPlace.$invalid">
                                <span ng-if="depositeForm.inputRegistrationPlace.$error.minlength">Місце реєстрації  клієнта повинен містити принаймні 4 симоволи</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputRegistrationPlace.$touched">
                                <span ng-if="depositeForm.inputRegistrationPlace.$error.required">Введення місця реєстрації клієнта обов'язкове</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputPhoneNumber" class="col-sm-4 col-form-label">Номер телефону</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Номер телефону" name="inputPhoneNumber" ng-model="deposite.ClientInfo.PhoneNumber" ng-pattern="/^\+38(0\d{2})\d{3}\d{2}\d{2}$/">

                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputPhoneNumber.$dirty && depositeForm.inputPhoneNumber.$invalid">
                                <span ng-if="depositeForm.inputPhoneNumber.$error.pattern">Введіть телефон за шаблоном +38(0**)*******</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputPhoneNumber.$touched">
                                <span ng-if="depositeForm.inputPhoneNumber.$error.required">Номер телефона клієнта обов'язковий</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputBankAccount" class="col-sm-4 col-form-label">Номер банківського рахунку</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Номер банківського рахунку" name="inputBankAccount" ng-model="deposite.ClientInfo.BankAccount" ng-pattern="/\d{16}$/">
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputBankAccount.$dirty && depositeForm.inputBankAccount.$invalid">
                                <span ng-if="depositeForm.inputBankAccount.$error.pattern">Введіть номер банківського рахунку за шаблоном 0000000000000000</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputBankAccount.$touched">
                                <span ng-if="depositeForm.inputBankAccount.$error.required">Номер банківського рахунку  клієнта обов'язковий</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputBankAccountForDP" class="col-sm-4 col-form-label">Номер банківського рахунку для виплати відстотків по депозиту</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Номер банківського рахунку" name="inputBankAccountForDP" ng-model="deposite.ClientInfo.BankAccountForDP" ng-pattern="/\d{16}$/">
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputBankAccountForDP.$dirty && depositeForm.inputBankAccountForDP.$invalid">
                                <span ng-if="depositeForm.inputBankAccountForDP.$error.pattern">Введіть номер банківського для виплати відстотків рахунку за шаблоном 0000000000000000</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputBankAccountForDP.$touched">
                                <span ng-if="depositeForm.inputBankAccountForDP.$error.required">Номер банківського рахунку для виплати відстотків  клієнта обов'язковий</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!cientInBase">
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputName" class=" col-sm-4 col-form-label">Найменування клієнта банку</label>
                            <div class=" col-sm-4">
                                <input type="text" class="form-control" placeholder="Найменування клієнта банку" name="inputName" ng-model="deposite.ClientInfo.Name" ng-model-options="{ updateOn: 'blur' }" ng-minlength=4 required>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-6" style="color:red" ng-show="depositeForm.inputName.$dirty && depositeForm.inputName.$invalid">
                            <span ng-show="depositeForm.inputName.$error.minlength">Найменування клієнта банку повинно містити принаймні 4 симоволи</span>
                        </div>

                    </div>
                    <div class="row justify-content-around">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputName.$touched">
                            <span ng-if="depositeForm.inputName.$error.required">Введення найменування клієнта банку обов'язкове.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputRepresentative" class=" col-sm-4 col-form-label">В особі підприємця</label>
                            <div class=" col-sm-4">
                                <input type="text" class="form-control" placeholder="Прізвище Ім'я Побатькові" name="inputRepresentative" ng-model="deposite.ClientInfo.Representative" ng-model-options="{ updateOn: 'blur' }" ng-minlength=10 required>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputRepresentative.$dirty && depositeForm.inputRepresentative.$invalid">
                                <span ng-if="depositeForm.inputRepresentative.$error.minlength">Найменування клієнта банку повинно містити принаймні 10 симоволів</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputRepresentative.$touched">
                                <span ng-if="depositeForm.inputRepresentative.$error.required">Введення найменування клієнта банку обов'язкове</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputIdentificationCode" class="col-sm-4 col-form-label">код за ЄДРПОУ або реєстраційний (обліковий) номер платника податків клієнта</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Код ІНН або ЄДРПОУ" name="inputIdentificationCode" ng-model="deposite.ClientInfo.IndentificationCode" ng-model-options="{ updateOn: 'blur' }" ng-minlength=4 required>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputIdentificationCode.$dirty && depositeForm.inputIdentificationCode.$invalid">
                                <span ng-if="depositeForm.inputIdentificationCode.$error.minlength">Код ідентифікації клієнта повинен містити принаймні 4 симоволи</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputIdentificationCode.$touched">
                                <span ng-if="depositeForm.inputIdentificationCode.$error.required">Введення кода ідентифікації клієнта обов'язкове</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputRegistrationPlace" class="col-sm-4 col-form-label">Місце реєстрації</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="RegistrationPlace" name="inputRegistrationPlace" ng-model="deposite.ClientInfo.RegistrationPlace" ng-model-options="{ updateOn: 'blur' }" ng-minlength=4 required>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputRegistrationPlace.$dirty && depositeForm.inputRegistrationPlace.$invalid">
                                <span ng-if="depositeForm.inputRegistrationPlace.$error.minlength">Місце реєстрації  клієнта повинен містити принаймні 4 симоволи</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputRegistrationPlace.$touched">
                                <span ng-if="depositeForm.inputRegistrationPlace.$error.required">Введення місця реєстрації клієнта обов'язкове</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputPhoneNumber" class="col-sm-4 col-form-label">Номер телефону</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Номер телефону" name="inputPhoneNumber" ng-model="deposite.ClientInfo.PhoneNumber" ng-pattern="/^\+38(0\d{2})\d{3}\d{2}\d{2}$/" required>

                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputPhoneNumber.$dirty && depositeForm.inputPhoneNumber.$invalid">
                                <span ng-if="depositeForm.inputPhoneNumber.$error.pattern">Введіть телефон за шаблоном +38(0**)*******</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputPhoneNumber.$touched">
                                <span ng-if="depositeForm.inputPhoneNumber.$error.required">Номер телефона клієнта обов'язковий</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputBankAccount" class="col-sm-4 col-form-label">Номер банківського рахунку</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Номер банківського рахунку" name="inputBankAccount" ng-model="deposite.ClientInfo.BankAccount" ng-pattern="/\d{16}$/" required>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputBankAccount.$dirty && depositeForm.inputBankAccount.$invalid">
                                <span ng-if="depositeForm.inputBankAccount.$error.pattern">Введіть номер банківського рахунку за шаблоном 0000000000000000</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputBankAccount.$touched">
                                <span ng-if="depositeForm.inputBankAccount.$error.required">Номер банківського рахунку  клієнта обов'язковий</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-around">
                            <label for="inputBankAccountForDP" class="col-sm-4 col-form-label">Номер банківського рахунку для виплати відстотків по депозиту</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Номер банківського рахунку" name="inputBankAccountForDP" ng-model="deposite.ClientInfo.BankAccountForDP" ng-pattern="/\d{16}$/" required>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputBankAccountForDP.$dirty && depositeForm.inputBankAccountForDP.$invalid">
                                <span ng-if="depositeForm.inputBankAccountForDP.$error.pattern">Введіть номер банківського для виплати відстотків рахунку за шаблоном 0000000000000000</span>
                            </div>

                        </div>
                        <div class="row justify-content-around">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputBankAccountForDP.$touched">
                                <span ng-if="depositeForm.inputBankAccountForDP.$error.required">Номер банківського рахунку для виплати відстотків  клієнта обов'язковий</span>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row ">
                        <div class="col-sm-1"></div>
                        <label for="inputDepositeType" class="col-sm-4 col-form-label">Тип депозиту</label>
                        <div class="col-sm-6">
                            <select name="inputDepositeType" id="inputDepositeType" class="form-control"
                                    ng-options="depositeInfo.Name for depositeInfo in depositeInfoes track by depositeInfo.Id"
                                    ng-model="deposite.DepositeInfo" required></select><br />
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputDepositeType.$dirty && depositeForm.inputDepositeType.$invalid">
                            <span ng-if="depositeForm.inputDepositeType.$error.required">Вибір типу депозиту обов'язковий</span>
                        </div>

                    </div>
                    <div class="row justify-content-around">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputDepositeType.$touched">
                            <span ng-if="depositeForm.inputDepositeType.$error.required">Вибір типу депозиту обов'язковий</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-around">
                        <label for="inputCurrency" class="col-sm-4 col-form-label">Особливості депозиту</label>
                        <div class="col-sm-4">

                            <label>
                                Автопролонгація:
                                <input type="checkbox" ng-model="deposite.DepositeInfo.AutoRollover" disabled>

                            </label>
                            <label>
                                Можливість поповнення:
                                <input type="checkbox" ng-model="deposite.DepositeInfo.PossibilityOfReplenishment" disabled>

                            </label>
                            <label>
                                Можливість дострокового розірвання:
                                <input type="checkbox" ng-model="deposite.DepositeInfo.PossibilityOfTermination" disabled>

                            </label>
                            <label>
                                Відсоткова ставка:
                                <input class="form-control" type="text" ng-model="deposite.DepositeInfo.Rate" disabled>

                            </label>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-around">
                        <label for="inputstartDepositeDate" class="col-sm-4 col-form-label">Початок депозитного сроку</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" name="inputstartDepositeDate" ng-model="deposite.StartDepositeDate" placeholder="Дата початку депозитного сроку" required>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-sm-4"></div>
                    <!--<div class="col-sm-4" style="color:red" ng-if="depositeForm.inputstartDepositeDate.$dirty && depositeForm.inputstartDepositeDate.$invalid">
            <span ng-if="depositeForm.inputstartDepositeDate.$error.minlength">Сума вкладу повинна бути більше 0</span>
        </div>-->

                </div>
                <div class="row justify-content-around">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputstartDepositeDate.$touched">
                        <span ng-if="depositeForm.inputstartDepositeDate.$error.required">Введення суми вкладу обов'язкове</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-around">
                        <label for="inputendDepositeDate" class="col-sm-4 col-form-label">Кінець депозитного сроку</label>
                        <div class="col-sm-4">
                            <input type="date" class="form-control" name="inputendDepositeDate" ng-model="deposite.EndDepositeDate" placeholder="Дата закінчення депозитного сроку" min="{{deposite.StartDepositeDate | date:'yyyy-MM-dd'}}" }}" required>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputendDepositeDate.$dirty && depositeForm.inputendDepositeDate.$invalid">
                        <span ng-if="depositeForm.inputendDepositeDate.$error.date">Дата закінчення повинна бути пізніше дати початку</span>
                    </div>

                </div>
                <div class="row justify-content-around">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputendDepositeDate.$touched">
                        <span ng-if="depositeForm.inputendDepositeDate.$error.required">Введення суми вкладу обов'язкове</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row justify-content-around">
                        <label for="inputAmountOfDeposit" class="col-sm-4 col-form-label">Сума вкладу</label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control" placeholder="Сума вкладу" name="inputsAmountOfDeposit" ng-model="deposite.AmountOfDeposite" ng-minlength=0 required>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputsAmountOfDeposit.$dirty && depositeForm.inputsAmountOfDeposit.$invalid">
                        <span ng-if="depositeForm.inputsAmountOfDeposit.$error.minlength">Сума вкладу повинна бути більше 0</span>
                    </div>

                </div>
                <div class="row justify-content-around">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputsAmountOfDeposit.$touched">
                        <span ng-if="depositeForm.inputsAmountOfDeposit.$error.required">Введення суми вкладу обов'язкове</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <label for="inputCurrency" class="col-sm-4 col-form-label">Валюта</label>
                        <div class="col-sm-2"></div>
                        <div class="col-sm-2">
                            <select name="inputsCurrency" class="form-control" ng-model="deposite.Currency" required>
                                <option value="UAH">UAH</option>
                                <option value="USD">USD</option>
                                <option value="EURO">EURO</option>
                            </select><br>
                        </div>
                    </div>
                    <div class="row justify-content-around">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4" style="color:red" ng-if="depositeForm.inputsCurrency.$dirty && depositeForm.inputsCurrency.$invalid">
                            <span ng-if="depositeForm.inputsCurrency.$error.required">Вибір типу депозиту обов'язковий</span>
                        </div>

                    </div>
                    <div class="row justify-content-around">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4" style="color:red" ng-if="depositeForm.$submitted || depositeForm.inputsCurrency.$touched">
                            <span ng-if="depositeForm.inputsCurrency.$error.required">Вибір типу депозиту обов'язковий</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row justify-content-around">
                        <div class="col-md-offset-3  col-md-6">
                            <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="submitDeposite(depositeForm.$valid,deposite)">Зберегти депозит</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <form role="form" name="identificationForm" novalidate ng-if="showPrintForm">
            <h2 class="form-login-heading">Натисність для друку договору</h2>
            <div class="row justify-content-around">
                <div class="col-sm-5">
                    <a class="btn btn-sm btn-info btn-block" href="/api/Deposites/GeneratedСlientForm/?id={{deposite.DepositeId}}" ng-click="openCreationMessageInPopup()">Друк анкети клієнта<br/></a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-sm btn-info btn-block" href="/api/Deposites/GeneratedStatement/?id={{deposite.DepositeId}}" ng-click="openCreationMessageInPopup()">Друк заяви на відкриття депозиту</a>
                </div>
            </div>
            <div class="row"></div>
            <div class="row justify-content-center">
                <div class="alert alert-danger col-sm-8">
                    {{messageStatusCreation}}
                </div>
                
            </div>



</form>
        <creation-message-in-popup></creation-message-in-popup>
    </div>
</div>
