<div id="popUpMsg-bg" ng-show="showCreationMessage">
    <div id="popUpMsg">
        <div class="close" ng-click="closeCreationMessage()">x</div>
        <p class="text-left">Почалось створення файлу. Не закривайте браузер!</p>
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="closeCreationMessage()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
