<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../Scripts/DepositeApp.js"></script>
    <script src="../Scripts/Modules/authorizationModule.js"></script>
    <script src="../Scripts/Controllers/depositeAppController.js"></script>
    <script src="../Scripts/Controllers/clientDeclarationController.js"></script>
    <script src="../Scripts/Controllers/acceptDepositeInformationController.js"></script>
    <script src="../Scripts/Controllers/loginController.js"></script>
    <script src="../Scripts/Services/clientOperationService.js"></script>
    <script src="../Scripts/Services/depositeDataService.js"></script>
    <script src="../Scripts/Services/userProvider.js"></script>
    <script src="../Scripts/Services/authorizationFactory.js"></script>
    <script src="../Scripts/Services/userDataService.js"></script>
    <script src="../Scripts/Services/checkRolesService.js"></script>
    <link href="../../Content/Site.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
</head>
<body>

    <div ng-app="DepositeApp">
        <div class="form">
            <form class="form-horizontal" role="form">

                <!--<div class="form-group">
                    <div class="row">
                        <label for="inputLogin" class="col-sm-2 control-label">Login</label>
                        <div class="col-sm-offset-1 col-sm-9">
                            <input type="text" class="form-control" placeholder="Login" name="inputLogin">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-offset-1 col-sm-9">
                            <input type="password" class="form-control" placeholder="Password" name="inputPassword">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn btn-success btn-lg">Access</button>
                        </div>
                    </div>
                </div>
            <div ng-view></div>-->
            </form>
        </div><!-- form  -->
        <!--<div ng-controller="depositeAppController">
            {{users}}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Login</th>
                        <th>Password</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.Id}}</td>
                        <td>{{user.Login}}</td>
                        <td>{{user.Password}}</td>
                        <td>{{user.Type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>-->
        <div ng-view></div>


    </div>
</body>
</html>