<nav class="navbar fixed-top navbar-expand-lg  navbar-dark " style="background-color: #7386D5;">
    <a class="navbar-brand" href="#">Абс</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#!/mainPage">Головна <span class="sr-only">(current)</span></a>
            <span>Hello, {{login}}|{{role}}</span>
            <a class="nav-item nav-link" href="#!/login">Вихід</a>
            <!--<a class="nav-item nav-link" href="#">Features</a>
    <a class="nav-item nav-link" href="#">Pricing</a>
    <a class="nav-item nav-link disabled" href="#">Disabled</a>-->
        </div>
    </div>
</nav>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <ul class="list-unstyled components">

            <!--<li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>-->
            <li>
                <a href="#">Рахунки</a>
            </li>
            <li>
                <a href="#">Кредит</a>
            </li>
            <li>
                <a href="" ng-click="goOnDeposite()">Депозит</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="hideNav">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Приховати меню</span>
                </button>
            </div>
        </nav>
        <div ng-if="showDepositeFrame">
            <div ng-if="getFrameType()">
                <front-office-frame></front-office-frame>
            </div>
            <div ng-if="!getFrameType()">
                <back-office-frame></back-office-frame>
            </div>
        </div>
    </div>
</div>
